/* p.error {
  color: red;
}
p.success {
  color: green;
}
p.success.feedback {
  border: 1px dashed #4fdb4f;
}
#content {
  background-color: #ebebeb;
    padding: 20px;
} */
/* div .error{
    color:red;
} */
/* a[href*="thenetninja"] {
    background-color: #3dd13d;
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$=".com"] {
    background-color: #ff0000;
    color: white;
  border: 2px solid blue
} */
div {
  color: lightcoral;
  border: 1px solid gray;
  margin: 40px;
  font-weight: bold;
}
div p {
  border: inherit;
  margin: inherit;
  color: crimson;
}
p {
  color: orange;
}
